html {

}

.wrapper {
    border: 8px solid white;
    border-radius: 75px;
}

nav {
    min-height: 100px;
    background-color: rgb(60, 60, 60);
    width: 100%;
}

.logo {
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 10px;
}
