html {

}

.wrapper {
    border: 10px solid black;
    border-radius: 75px;
}

nav {
    min-height: 100px;
    background-color: rgb(60, 60, 60);
    width: 100%;
}

.logo {
    width: 100px;
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 10px;
}

.tiktok {
    width: 28px;
}

.ig {
    width: 32px;
}

.fb {
    width: 32px;
}